<h1>Listing steps for a <%= @garment.name %> </h1>

<table>
  <tr>
    <th>Instruction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.instruction %></td>
    <td><%= link_to 'Show', garment_step_path(@garment,step) %></td>
    <td><%= link_to 'Edit', edit_garment_step_path(@garment,step) %></td>
    <td><%= link_to 'Destroy', [@garment, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_garment_step_path %>
